Twisted==16.0.0
cycler==0.10.0
decorator==4.0.9
lxml==3.6.0
matplotlib==1.5.1
networkx==1.11
numpy==1.10.4
pyparsing==2.1.1
python-dateutil==2.5.1
pytz==2016.3
scipy==0.17.0
six==1.10.0
stem==1.4.0
wsgiref==0.1.2
zope.interface==4.1.3
